Repository Junyong34/utility-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint --max-warnings=0, bash -c 'tsc --noEmit'

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,mjs}": [
    "eslint --fix",
    "eslint --max-warnings=0"
  ],
  "*.{ts,tsx}": [
    "bash -c 'tsc --noEmit'"
  ]
}

[codex/parenting-benefits-task-1][add]: 혜택 공식 출처 목록 확장
  lib/benefits/config.ts
Due: eslint --fix, eslint --max-warnings=0, bash -c 'tsc --noEmit'

[codex/parenting-benefits-task-1][docs]: 육아 혜택 확장 실행 계획 추가
  docs/superpowers/plans/2026-05-26-parenting-benefits-content-expansion.md
Due: none

[main][fix]: 첫만남이용권 공식 링크 수정
  content/benefits/index.test.mjs
  content/benefits/index.ts
  content/posts/benefits/2026-parenting-benefits-guide.md
  docs/superpowers/plans/2026-05-26-parenting-benefits-content-expansion.md
Due: eslint --fix, eslint --max-warnings=0, bash -c 'tsc --noEmit'

[main][docs]: 비 오는 날 실내 콘텐츠 클러스터 설계 추가
  docs/superpowers/specs/2026-06-12-rainy-day-indoor-content-cluster-design.md
Due: none

[devpark/rainy-day-indoor-content-cluster][docs]: 비 오는 날 실내 콘텐츠 실행 계획 추가
  docs/superpowers/plans/2026-06-12-rainy-day-indoor-content-cluster.md
Due: none

[devpark/rainy-day-indoor-content-cluster][add]: 아이와 갈 곳 블로그 카테고리 추가
  lib/blog/posts.test.mjs
  lib/blog/posts.ts
Due: eslint --fix, eslint --max-warnings=0, bash -c 'tsc --noEmit'

[devpark/rainy-day-indoor-content-cluster][add]: 비 오는 날 실내 콘텐츠 클러스터 글 추가
  content/posts/places/capital-area-rainy-day-indoor-places.md
  content/posts/places/gyeonggi-south-rainy-day-indoor-places.md
  content/posts/places/incheon-rainy-day-indoor-places.md
  content/posts/places/preschoolers-rainy-day-indoor-places.md
  content/posts/places/rainy-day-free-low-cost-indoor-places.md
  content/posts/places/rainy-day-indoor-cluster.test.mjs
  content/posts/places/same-day-indoor-places-without-reservation.md
  content/posts/places/seoul-rainy-day-indoor-places.md
  content/posts/places/toddlers-rainy-day-indoor-places.md
Due: eslint --fix, eslint --max-warnings=0

[devpark/rainy-day-indoor-content-cluster][fix]: 실내 콘텐츠 계약 테스트 보강
  content/posts/places/capital-area-rainy-day-indoor-places.md
  content/posts/places/gyeonggi-south-rainy-day-indoor-places.md
  content/posts/places/incheon-rainy-day-indoor-places.md
  content/posts/places/preschoolers-rainy-day-indoor-places.md
  content/posts/places/rainy-day-free-low-cost-indoor-places.md
  content/posts/places/rainy-day-indoor-cluster.test.mjs
  content/posts/places/same-day-indoor-places-without-reservation.md
  content/posts/places/seoul-rainy-day-indoor-places.md
  content/posts/places/toddlers-rainy-day-indoor-places.md
Due: eslint --fix, eslint --max-warnings=0

[devpark/rainy-day-indoor-content-cluster][feat]: 블로그 장소 메타데이터 로딩 지원
  lib/blog/posts.test.mjs
  lib/blog/posts.ts
Due: eslint --fix, eslint --max-warnings=0, bash -c 'tsc --noEmit'

[devpark/rainy-day-indoor-content-cluster][test]: 블로그 장소 메타데이터 검증 보강
  lib/blog/posts.test.mjs
Due: eslint --fix, eslint --max-warnings=0

[devpark/rainy-day-indoor-content-cluster][test]: 아이와 갈 곳 사이트맵 회귀 테스트 추가
  lib/seo/metadata.ts
  lib/seo/sitemap.test.mjs
  lib/seo/sitemap.ts
Due: eslint --fix, eslint --max-warnings=0, bash -c 'tsc --noEmit'

[devpark/rainy-day-indoor-content-cluster][chore]: 콘텐츠 클러스터 계획 문서 형식 정리
  docs/superpowers/plans/2026-06-12-rainy-day-indoor-content-cluster.md
Due: none

[devpark/rainy-day-indoor-content-cluster][test]: 콘텐츠 지역 연령 메타데이터 계약 보강
  content/posts/places/rainy-day-indoor-cluster.test.mjs
Due: eslint --fix, eslint --max-warnings=0

[devpark/place-naver-blog-review-links][feat]: 키즈카페 외부 후기 링크 보강
  components/places/PlaceBlogReviewSection.tsx
  components/places/PlaceCard.tsx
  content/places/external-blog-link-contract.test.mjs
  content/places/gyeonggi-south/index.ts
  content/places/incheon/index.ts
  docs/research/places/place-blog-review-links-2026-06-12.md
  docs/superpowers/plans/2026-06-12-place-naver-blog-review-links.md
  lib/places/place-external-blog-links.test.mjs
  lib/places/place-external-blog-links.ts
  package.json
  types/place-source.ts
Due: eslint --fix, eslint --max-warnings=0, bash -c 'tsc --noEmit'

feat: add crawlable places pagination
  app/places/[region]/page.tsx
  app/places/page.tsx
  components/places/PlacesFilteredGrid.tsx
  components/places/PlacesPaginationNav.tsx
  docs/plans/2026-06-12-001-feat-crawlable-places-pagination-plan.md
  docs/seo/google-indexing-action-list-2026-05-08.md
  lib/places/index.ts
  lib/places/place-list-contract.ts
  lib/places/place-pagination.test.mjs
  lib/places/place-pagination.ts
  lib/seo/site-section-seo.test.ts
  lib/seo/site-section-seo.ts
  lib/seo/sitemap.test.mjs
  lib/seo/sitemap.ts
  tests/places-crawlable-pagination.spec.ts
  tests/places-infinite-scroll.spec.ts
Due: eslint --fix, eslint --max-warnings=0, bash -c 'tsc --noEmit'

docs: add baby fruit intake research spec
  docs/superpowers/specs/2026-06-30-baby-fruit-intake-research-design.md
Due: none

docs: expand baby fruit research safety scope
  docs/superpowers/specs/2026-06-30-baby-fruit-intake-research-design.md
Due: none

docs: add baby fruit research plan
  docs/superpowers/plans/2026-06-30-baby-fruit-intake-research.md
Due: none

docs: add baby fruit intake research
  docs/research/parenting/2026-06-30-baby-fruit-intake-6-24m.md
Due: none

docs: add baby fever antipyretic research
  docs/research/parenting/2026-06-30-baby-fever-antipyretic-0-24m.md
  docs/superpowers/specs/2026-06-30-baby-fever-antipyretic-research-design.md
Due: none

docs: add baby fruit parenting article
  content/posts/parenting/baby-fruit-intake-6-24m.md
  docs/research/parenting/2026-06-30-baby-fruit-intake-6-24m.md
  lib/blog/posts.test.mjs
  lib/blog/posts.ts
  lib/seo/og-theme.ts
Due: eslint --fix, eslint --max-warnings=0, bash -c 'tsc --noEmit'

docs: add baby fever antipyretic article
  content/posts/parenting/baby-fever-antipyretic-0-24m.md
Due: none

feat: add crawlable blog pagination
  app/api/posts/route.ts
  app/blog/[category]/page.tsx
  app/blog/page.tsx
  components/blog/BlogContent.tsx
  components/blog/BlogPaginationNav.tsx
  lib/blog/pagination.test.mjs
  lib/blog/pagination.ts
  lib/seo/site-section-seo.test.ts
  lib/seo/site-section-seo.ts
  lib/seo/sitemap.test.mjs
  lib/seo/sitemap.ts
Due: eslint --fix, eslint --max-warnings=0, bash -c 'tsc --noEmit'

docs: add baby cough and runny nose guide
  content/posts/parenting/baby-cough-runny-nose-0-24m.md
  docs/research/parenting/2026-06-30-baby-cough-runny-nose-0-24m.md
Due: none

chore(lotto): update lotto_draws.json
  lib/lotto/lotto_draws.json
Due: none

feat: add animal experience places and filter
  app/api/places/route.ts
  components/parenting-theme.ts
  components/places/PlacesFilterBar.tsx
  components/places/PlacesFilteredGrid.tsx
  content/places/README.md
  content/places/gyeonggi-north/index.ts
  content/places/gyeonggi-south/index.ts
  content/places/incheon/index.ts
  content/places/index.test.mjs
  content/places/seoul/index.ts
  docs/research/places/README.md
  docs/research/places/animal-experiences-gyeonggi-2026-07-10.md
  docs/research/places/animal-experiences-incheon-2026-07-10.md
  docs/research/places/animal-experiences-seoul-2026-07-10.md
  lib/places/place-list-contract.ts
  lib/places/place-list-query.test.mjs
  lib/places/place-list-query.ts
  lib/places/place-pagination.test.mjs
  lib/places/place-pagination.ts
  tests/places-infinite-scroll.spec.ts
  types/place-source.ts
Due: eslint --fix, eslint --max-warnings=0, bash -c 'tsc --noEmit'

docs(parenting): add pediatric night guides
  content/posts/parenting/gyeonggi-moonlight-childrens-hospital-guide.md
  content/posts/parenting/incheon-moonlight-childrens-hospital-guide.md
  content/posts/parenting/seoul-moonlight-childrens-hospital-guide.md
  docs/research/parenting/2026-07-10-gyeonggi-moonlight-childrens-hospitals.md
  docs/research/parenting/2026-07-10-incheon-moonlight-childrens-hospitals.md
  docs/research/parenting/2026-07-10-seoul-moonlight-childrens-hospitals.md
Due: none

docs(parenting): add baby development guide
  content/posts/parenting/baby-development-milestones-0-24m.md
  docs/research/parenting/baby-development-milestones-0-24m/README.md
  docs/research/parenting/baby-development-milestones-0-24m/source-graphics/01-development-roadmap.svg
  docs/research/parenting/baby-development-milestones-0-24m/source-graphics/02-consultation-flow.svg
  docs/research/parenting/baby-development-milestones-0-24m/sources/01-kdca-normal-development.png
  docs/research/parenting/baby-development-milestones-0-24m/sources/02-mohw-kdst-policy.png
  docs/research/parenting/baby-development-milestones-0-24m/sources/03-cdc-milestones-index.png
  docs/research/parenting/baby-development-milestones-0-24m/sources/04-kdca-health-screening.png
  public/images/blog/baby-development-milestones-0-24m/01-development-roadmap.webp
  public/images/blog/baby-development-milestones-0-24m/02-consultation-flow.webp
Due: none

docs(blog): add childcare service guides
  content/posts/benefits/childcare-service-government-support-working-parents.md
  content/posts/benefits/emergency-childcare-service-guide.md
  content/posts/parenting/daycare-waitlist-application-checklist.md
Due: none

docs(parenting): add Tunituni center guide
  content/posts/parenting/tunituni-seoul-gyeonggi-incheon-application-guide.md
  docs/research/places/2026-07-13-seoul-gyeonggi-incheon-kids-facilities.md
Due: none

docs: add domain module refactor plan
  docs/plans/2026-07-13-001-refactor-domain-module-structure-plan.md
Due: none

refactor(architecture): establish module boundaries
  AGENTS.md
  docs/architecture/migration-ledger.md
  docs/architecture/module-boundaries.md
  docs/architecture/project-map.md
  docs/architecture/public-contract-matrix.md
  eslint.config.mjs
  modules/README.md
  package.json
  shared/README.md
  tests/architecture/import-boundaries.test.mjs
  tests/contracts/public-surface.test.mjs
Due: eslint --fix, eslint --max-warnings=0

refactor(tools): migrate moving budget checklist module
  app/tools/home-check/page.tsx
  components/tools/home-buying-funds-calculator/components/CostSummaryCards.tsx
  components/tools/home-buying-funds-calculator/components/FinalCashHeroCard.tsx
  components/tools/home-buying-funds-calculator/components/LoanBreakdownCard.tsx
  components/tools/moving-budget-checklist/index.ts
  docs/architecture/migration-ledger.md
  docs/architecture/project-map.md
  lib/tools/moving-budget-checklist/calculation.test.mjs
  lib/tools/moving-budget-checklist/formatting.ts
  modules/tools/moving-budget-checklist/client.ts
  modules/tools/moving-budget-checklist/client/BudgetGroupCard.tsx
  modules/tools/moving-budget-checklist/client/MovingBudgetChecklistPageClient.tsx
  modules/tools/moving-budget-checklist/client/MovingBudgetInputSection.tsx
  modules/tools/moving-budget-checklist/client/MovingBudgetResultSection.tsx
  modules/tools/moving-budget-checklist/client/ResultHeroCard.tsx
  modules/tools/moving-budget-checklist/client/ShareButton.tsx
  modules/tools/moving-budget-checklist/client/parsers.ts
  modules/tools/moving-budget-checklist/client/useMovingBudgetChecklist.ts
  modules/tools/moving-budget-checklist/domain/calculation.test.mjs
  modules/tools/moving-budget-checklist/domain/calculation.ts
  modules/tools/moving-budget-checklist/domain/formatting.test.mjs
  modules/tools/moving-budget-checklist/domain/formatting.ts
  modules/tools/moving-budget-checklist/domain/templates.ts
  modules/tools/moving-budget-checklist/domain/types.ts
  modules/tools/moving-budget-checklist/domain/url-state.test.mjs
  modules/tools/moving-budget-checklist/domain/url-state.ts
  modules/tools/moving-budget-checklist/public.ts
  modules/tools/moving-budget-checklist/ui.ts
  modules/tools/moving-budget-checklist/ui/AssetsSectionCard.tsx
  modules/tools/moving-budget-checklist/ui/ChecklistProgressBoard.tsx
  modules/tools/moving-budget-checklist/ui/CostStructurePanel.tsx
  modules/tools/moving-budget-checklist/ui/CustomBudgetItemRow.tsx
  modules/tools/moving-budget-checklist/ui/GroupSummaryBoard.tsx
  modules/tools/moving-budget-checklist/ui/TemplateBudgetItemRow.tsx
  modules/tools/moving-budget-checklist/ui/accessibility.ts
  modules/tools/moving-budget-checklist/ui/display-metadata.ts
  shared/client/number-ticker.tsx
  tests/contracts/public-surface.test.mjs
  tests/e2e/tools/moving-budget-checklist.spec.ts
Due: eslint --fix, eslint --max-warnings=0, bash -c 'tsc --noEmit'

test(tools): characterize calculator contracts
  components/tools/dsr-calculator/hooks/parsers.test.mjs
  components/tools/home-buying-funds-calculator/hooks/parsers.test.mjs
  components/tools/loan-calculator/hooks/parsers.test.mjs
  components/tools/savings-calculator/hooks/parsers.test.mjs
  lib/tools/dsr/dsr-calculator.test.mjs
  lib/tools/home-buying-funds-calculator/calculation-characterization.test.mjs
  lib/tools/loan-calculator.test.mjs
  lib/tools/prepayment-fee-calculator.test.mjs
  lib/tools/savings-calculator.test.mjs
Due: eslint --fix, eslint --max-warnings=0
