Repository Junyong34/utility-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint --max-warnings=0, bash -c 'tsc --noEmit'

refactor(tools): migrate loan calculator
  app/tools/loan-calculator/page.tsx
  components/tools/LoanCalculatorFAQ.tsx
  components/tools/loan-calculator/LoanCalculatorForm.tsx
  components/tools/loan-calculator/hooks/parsers.ts
  components/tools/loan-calculator/index.ts
  lib/tools/formatting.ts
  lib/tools/loan-calculator.ts
  lib/tools/prepayment-fee-calculator.ts
  modules/tools/loan-calculator/client.ts
  modules/tools/loan-calculator/client/LoanCalculatorPageClient.tsx
  modules/tools/loan-calculator/client/LoanCalculatorSection.tsx
  modules/tools/loan-calculator/client/LoanResultsView.tsx
  modules/tools/loan-calculator/client/PrepaymentFeeSection.tsx
  modules/tools/loan-calculator/client/ShareButton.tsx
  modules/tools/loan-calculator/client/useLoanCalculator.ts
  modules/tools/loan-calculator/client/usePrepaymentCalculator.ts
  modules/tools/loan-calculator/domain/loan-calculation.test.mjs
  modules/tools/loan-calculator/domain/loan-calculation.ts
  modules/tools/loan-calculator/domain/numeric-input.ts
  modules/tools/loan-calculator/domain/prepayment-fee.test.mjs
  modules/tools/loan-calculator/domain/prepayment-fee.ts
  modules/tools/loan-calculator/domain/query-parsers.test.mjs
  modules/tools/loan-calculator/domain/query-parsers.ts
  modules/tools/loan-calculator/public.ts
  modules/tools/loan-calculator/ui.ts
  modules/tools/loan-calculator/ui/LoanCalculatorFAQ.tsx
  modules/tools/loan-calculator/ui/LoanInputForm.tsx
  modules/tools/loan-calculator/ui/LoanResultCard.tsx
  modules/tools/loan-calculator/ui/PrepaymentFeeResultCard.tsx
  modules/tools/loan-calculator/ui/PrepaymentInputForm.tsx
  modules/tools/loan-calculator/ui/ResultSummaryLabel.tsx
  modules/tools/loan-calculator/ui/display-formatting.ts
  modules/tools/loan-calculator/ui/repayment-method-options.ts
  shared/domain/duration.test.mjs
  shared/domain/duration.ts
  shared/domain/money-formatting.test.mjs
  shared/domain/money-formatting.ts
  tests/contracts/public-surface.test.mjs
  tests/e2e/tools/loan-calculator.spec.ts
Due: eslint --fix, eslint --max-warnings=0, bash -c 'tsc --noEmit'

feat: move LastDigitGameTool import to client module for better structure
  app/tools/last-digit-game/page.tsx
  components/tools/last-digit-game/index.ts
Due: eslint --fix, eslint --max-warnings=0, bash -c 'tsc --noEmit'

chore: update Node.js version to 25 in configuration fileschore: update Node.js versions to 25 and 24 in Netlify config and .nvmrc
  .nvmrc
  netlify.toml
Due: none

feat(places): implement robust indexing and redirect policies
  .serena/project.yml
  app/places/[region]/page.tsx
  app/places/page.tsx
  docs/architecture/public-contract-matrix.md
  docs/seo/google-indexing-action-list-2026-05-08.md
  lib/places/place-pagination.test.mjs
  lib/places/place-pagination.ts
  lib/seo/metadata.ts
  lib/seo/site-section-seo.test.ts
  lib/seo/site-section-seo.ts
  lib/seo/sitemap.test.mjs
  lib/seo/sitemap.ts
  tests/e2e/places/crawlable-pagination.spec.ts
  types/seo.ts
Due: eslint --fix, eslint --max-warnings=0, bash -c 'tsc --noEmit'

fix(home): stabilize hero image framing
  components/home/main-home-screen.tsx
Due: eslint --fix, eslint --max-warnings=0, bash -c 'tsc --noEmit'

docs(blog): add air purifier filter comparison guide
  content/posts/consumer/kca-air-purifier-compatible-filter-comparison.md
  public/images/blog/kca-air-purifier-compatible-filter-comparison/01-selection-guide.webp
  public/images/blog/kca-air-purifier-compatible-filter-comparison/02-test-products-1.webp
  public/images/blog/kca-air-purifier-compatible-filter-comparison/03-test-products-2.webp
  public/images/blog/kca-air-purifier-compatible-filter-comparison/04-removal-performance.webp
  public/images/blog/kca-air-purifier-compatible-filter-comparison/05-hazardous-substance-safety-1.webp
  public/images/blog/kca-air-purifier-compatible-filter-comparison/06-hazardous-substance-safety-2.webp
  public/images/blog/kca-air-purifier-compatible-filter-comparison/07-overall-table-1.webp
  public/images/blog/kca-air-purifier-compatible-filter-comparison/08-overall-table-2.webp
  public/images/blog/kca-air-purifier-compatible-filter-comparison/09-purchase-guide.webp
  public/images/blog/kca-air-purifier-compatible-filter-comparison/10-use-maintenance-guide.webp
Due: none

docs(blog): add consumer protection agency keyword
  content/posts/consumer/kca-air-purifier-compatible-filter-comparison.md
Due: none

chore(lotto): update lotto_draws.json
  lib/lotto/lotto_draws.json
Due: none

docs(research): record The Bay 54 publication gate
  docs/research/2026-08-02-thebay54-aquarium-fact-pack.md
Due: none

fix(places): label semi-official source details
  components/places/PlaceBlogReviewSection.tsx
  components/places/PlaceDetailPage.tsx
  components/places/place-trust-labels.test.mjs
  components/places/place-trust-labels.ts
Due: eslint --fix, eslint --max-warnings=0, bash -c 'tsc --noEmit'

feat(places): add The Bay 54 place and guide
  components/places/PlaceDetailPage.tsx
  content/places/gyeonggi-south/index.ts
  content/places/index.test.mjs
  content/posts/places/siheung-thebay54-aquarium-guide.md
  content/posts/places/siheung-thebay54-aquarium-guide.test.mjs
  types/place-source.ts
Due: eslint --fix, eslint --max-warnings=0, bash -c 'tsc --noEmit'

fix(blog): prevent age range strikethrough
  content/posts/places/siheung-thebay54-aquarium-guide.md
  content/posts/places/siheung-thebay54-aquarium-guide.test.mjs
Due: eslint --fix, eslint --max-warnings=0

docs(plans): add home buying calculator SEO improvement plan
  docs/plans/2026-08-03-001-seo-home-buying-funds-calculator-plan.md
Due: none

test(e2e): allow overriding playwright port via E2E_PORT
  playwright.config.ts
Due: eslint --fix, eslint --max-warnings=0, bash -c 'tsc --noEmit'

feat(parking): update Gwangmyeong station parking guide
  content/posts/parking/ktx-gwangmyeong-parking.md
  content/posts/parking/parking-cost-saving-guide.md
  public/images/blog/ktx-gwangmyeong-parking/01-fee-congestion.webp
  public/images/blog/ktx-gwangmyeong-parking/01-location-map.webp
  public/images/blog/ktx-gwangmyeong-parking/02-a-parking.webp
  public/images/blog/ktx-gwangmyeong-parking/02-location-map.webp
  public/images/blog/ktx-gwangmyeong-parking/03-b-parking.webp
  public/images/blog/ktx-gwangmyeong-parking/03-representative-view.webp
  public/images/blog/ktx-gwangmyeong-parking/04-d-parking.webp
  public/images/blog/ktx-gwangmyeong-parking/04-use-flow.webp
Due: none

feat(tools): server-render home buying calculator FAQ and how-to for SEO
  app/tools/home-buying-funds-calculator/page.tsx
  components/tools/home-buying-funds-calculator/index.ts
  modules/tools/home-buying-funds-calculator/client.ts
  modules/tools/home-buying-funds-calculator/client/HomeBuyingFundsCalculatorFAQ.tsx
  modules/tools/home-buying-funds-calculator/client/HomeBuyingFundsCalculatorForm.tsx
  modules/tools/home-buying-funds-calculator/domain/manifest.ts
  modules/tools/home-buying-funds-calculator/ui.ts
  modules/tools/home-buying-funds-calculator/ui/components/HomeBuyingFundsGuideSection.tsx
  tests/contracts/public-surface.test.mjs
  tests/contracts/tool-catalog.test.mjs
  tests/e2e/tools/home-buying-funds-calculator-seo.spec.ts
Due: eslint --fix, eslint --max-warnings=0, bash -c 'tsc --noEmit'

feat(tools): surface tax basis date and dateModified for home buying calculator
  modules/tools/catalog/domain/structured-data.ts
  modules/tools/home-buying-funds-calculator/domain/manifest.ts
  modules/tools/home-buying-funds-calculator/ui/components/HomeBuyingFundsGuideSection.tsx
  shared/contracts/tool-manifest.ts
  tests/contracts/public-surface.test.mjs
  tests/contracts/tool-catalog.test.mjs
  tests/e2e/tools/home-buying-funds-calculator-seo.spec.ts
Due: eslint --fix, eslint --max-warnings=0, bash -c 'tsc --noEmit'

feat(tools): add seoTitle for keyword-rich tool page titles
  modules/tools/catalog/domain/metadata.ts
  modules/tools/home-buying-funds-calculator/domain/manifest.ts
  shared/contracts/tool-manifest.ts
  tests/contracts/public-surface.test.mjs
  tests/contracts/tool-catalog.test.mjs
  tests/e2e/tools/home-buying-funds-calculator-seo.spec.ts
Due: eslint --fix, eslint --max-warnings=0, bash -c 'tsc --noEmit'

fix(tools): align first-time buyer acquisition tax relief with current law
  modules/tools/home-buying-funds-calculator/domain/calculation-characterization.test.mjs
  modules/tools/home-buying-funds-calculator/domain/first-time-buyer-relief.test.mjs
  modules/tools/home-buying-funds-calculator/domain/manifest.ts
  modules/tools/home-buying-funds-calculator/domain/taxes.ts
  modules/tools/home-buying-funds-calculator/ui/constants.ts
  tests/contracts/public-surface.test.mjs
  tests/contracts/tool-catalog.test.mjs
Due: eslint --fix, eslint --max-warnings=0, bash -c 'tsc --noEmit'

fix(tools): eliminate float rounding error and correct 지방교육세 base for first-time relief
  modules/tools/home-buying-funds-calculator/domain/calculation-characterization.test.mjs
  modules/tools/home-buying-funds-calculator/domain/calculation.ts
  modules/tools/home-buying-funds-calculator/domain/first-time-buyer-relief.test.mjs
  modules/tools/home-buying-funds-calculator/domain/local-education-tax-base.test.mjs
  modules/tools/home-buying-funds-calculator/domain/standard-acquisition-tax-rate.test.mjs
  modules/tools/home-buying-funds-calculator/domain/taxes.ts
  modules/tools/home-buying-funds-calculator/public.ts
Due: eslint --fix, eslint --max-warnings=0, bash -c 'tsc --noEmit'

fix(tools): sync 지방교육세 formula label with its pre-relief base
  modules/tools/home-buying-funds-calculator/domain/calculation.ts
  modules/tools/home-buying-funds-calculator/domain/local-education-tax-base.test.mjs
Due: eslint --fix, eslint --max-warnings=0, bash -c 'tsc --noEmit'

docs(blog): add first-time buyer acquisition tax relief guide
  content/posts/investment/first-time-buyer-acquisition-tax-guide.md
Due: none

docs(blog): add apartment purchase extra costs checklist guide
  content/posts/investment/apartment-purchase-extra-costs-checklist.md
Due: none

fix(blog): correct legal accuracy issues in apartment purchase costs guide
  content/posts/investment/apartment-purchase-extra-costs-checklist.md
Due: none

docs(blog): add national housing bond real cost guide
  content/posts/investment/national-housing-bond-cost-guide.md
Due: none

fix(blog): correct 별표 locator for 신규분양 시가표준액 rule
  content/posts/investment/national-housing-bond-cost-guide.md
Due: none

feat(seo): cross-link home buying calculator with supporting guides
  content/posts/investment/loan-calculator-total-interest-guide.md
  modules/tools/home-buying-funds-calculator/ui/components/HomeBuyingFundsGuideSection.tsx
  tests/e2e/tools/home-buying-funds-calculator-seo.spec.ts
Due: eslint --fix, eslint --max-warnings=0, bash -c 'tsc --noEmit'

fix(seo): use updatedAt for tool sitemap lastmod
  lib/seo/sitemap.test.mjs
  lib/seo/sitemap.ts
Due: eslint --fix, eslint --max-warnings=0, bash -c 'tsc --noEmit'

fix(home-buying-funds-calculator): stop overstating accuracy in copy
  modules/tools/home-buying-funds-calculator/ui/components/HomeBuyingFundsGuideSection.tsx
  modules/tools/home-buying-funds-calculator/ui/constants.ts
Due: eslint --fix, eslint --max-warnings=0, bash -c 'tsc --noEmit'

docs(blog): remove repo internals and add sources to tax guide posts
  content/posts/investment/apartment-purchase-extra-costs-checklist.md
  content/posts/investment/first-time-buyer-acquisition-tax-guide.md
  content/posts/investment/national-housing-bond-cost-guide.md
Due: none

perf(tools): reduce Lucide icon bundle
  modules/tools/catalog/ui/tool-icons.test.mjs
  modules/tools/catalog/ui/tool-icons.ts
Due: eslint --fix, eslint --max-warnings=0, bash -c 'tsc --noEmit'

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx,mjs}
  eslint --max-warnings=0: any of: *.{ts,tsx,js,jsx,mjs}
  bash -c 'tsc --noEmit': any of: *.{ts,tsx}
